---
- name: "copy template files after apply jinja2 filters to them."
  template:
    src: "deploy-{{ item }}.yaml"
    dest: "/root/deploy-{{ item }}.yaml"
  with_items:
    - "{{ gitlab_deploy_suffix_name }}"
    - "{{ jenkins_deploy_suffix_name }}"
    - "{{ sonarqube_deploy_suffix_name }}"
    - "{{ nexus_deploy_suffix_name }}"

- name: check namespace "{{ namespace }}" exist or not
  command: kubectl get ns "{{ namespace }}"
  register: result
  ignore_errors: True

- name: create namspace "{{ namespace }}" when it is not there
  command: kubectl create ns "{{ namespace }}"
  register: ns_created
  ignore_errors: True
  when: result|failed
# Ansible can not guarantee idempotency for applications on k8s cluster
# We have to do it by ourself to validate the status of the deployments, pods,
# containers, and services.
# Create deplyments, pods and containers

- include: gitlab.yaml
- include: jenkins.yaml
- include: sonarqube.yaml
- include: nexus.yaml

# Service
# Note: register does not support variable.
- name: check "{{ gitlab_deploy_suffix_name }}" svc exist or not
  command: "kubectl get svc {{ [namespace, gitlab_deploy_suffix_name]|join('-') }} --namespace={{ namespace }}" 
  register: gitlab_svc_exists
  ignore_errors: True

- name: "create svc  {{ [namespace, gitlab_deploy_suffix_name]|join('-') }} if it does not exist when its deployment exists or just created succeefully"
  shell: "msg='notify to create  {{ [namespace, gitlab_deploy_suffix_name]|join('-') }} service'"
  notify: "create {{ gitlab_deploy_suffix_name }} service"
  when: (( gitlab_exist|succeeded ) or ( gitlab_created|succeeded )) and ( gitlab_svc_exists|failed )
  ignore_errors: True
# gitlab exits | gitlab created
#  T           ->    /
#  N           ->    create
#
#  | gitlab deploy | gitlab svc
# 1   T              N -> create (assume always successfully) -> Y
# 2   T              Y
# 3   N              N
# 4   N              Y
#
# 1,2: expected result. 1 -> 2.
# 3: failed
# 4: error
- name: "check status of svc {{ [namespace, gitlab_deploy_suffix_name]|join('-') }}"
  assert:
    that:
      - ( gitlab_exist|succeeded ) or ( gitlab_created|succeeded )
    msg: "Need check  {{ [namespace, gitlab_deploy_suffix_name]|join('-') }} service status"

- name: start to create services
  shell: "msg='notify to create services'"
  notify:
    - create jenkins service
    - create sonarqube service
    - create nexus service
