---
- name: "copy template files after apply jinja2 filters to them."
  template:
    src: "deploy-{{ item }}.yaml"
    dest: "/root/deploy-{{ item }}.yaml"
  with_items:
    - "{{ gitlab_deploy_suffix_name }}"
    - "{{ jenkins_deploy_suffix_name }}"
    - "{{ sonarqube_deploy_suffix_name }}"
    - "{{ nexus_deploy_suffix_name }}"

- name: check namespace "{{ namespace }}" exist or not
  command: kubectl get ns "{{ namespace }}"
  register: result
  ignore_errors: True

- name: create namspace "{{ namespace }}" when it is not there
  command: kubectl create ns "{{ namespace }}"
  register: ns_created
  ignore_errors: True
  when: result|failed

- name: wait 3 second
  pause: 
    seconds: 3
    prompt: "make sure the namspace {{ namespace }} is created before deployment starts"
  when: result|failed

# Ansible can not guarantee idempotency for applications on k8s cluster
# We have to do it by ourself to validate the status of the deployments, pods,
# containers, and services.
# Create deplyments, pods and containers

- include: gitlab.yaml
- include: jenkins.yaml
- include: sonarqube.yaml
- include: nexus.yaml

# Service
- include: gitlab_svc.yaml
- include: jenkins_svc.yaml
- include: sonarqube_svc.yaml
- include: nexus_svc.yaml
